'/*Selector {
	property: value;
}*/

body {
	background:url(seamless-bg.jpg) repeat center center;
	background-size: cover;
	margin:0;
}

h1 {
	color: #411A57;
	font-family: 'Merienda', cursive;
	font-size: 3em;
	text-align: center;
	border-right: 5px solid #846794;
	border-bottom: 5px solid #846794;
	cursor: pointer;
	width: 400px;
	box-shadow: 2px 2px 1px #07011A;
	margin: 0;
}

p {
	color: #411A57;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: 1s;

}
img:hover {
	transform: scale(1.1);
}
